.boxType {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 35px;
  color: #4d4d4d;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}

.tituloDatos{
  font-size: 60px;
  margin-left: 20px;
  padding-top: 20px;
}

.parametrosInicio {
  margin-top: 30px;
  font-size: 50px;
}

.contenedorDatos{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 40px;
  background-color: #d0dcc6;
}

.contenedorInputs{
  margin-right: 70px;
}

.tiempo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.precioOrigen, .precioDestino{
    margin-left: 20px;
}

.boxTypeD, .boxTypeO, .boxTypeP{
    width: 390px;
    height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 35px;
    color: #4d4d4d;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
  }

  .test{
    background-color: red;
  }

  .direccionOrigen{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .parametrosIcon{    
    display: flex;
    flex-direction: row;
  }

  .parametrosInicioIcon{
    display:block;
      margin-top: 30px;
      font-size: 50px;
    }

    .boxTypeC{
      width: 90px;
      height: 50px;
      margin-top: 20px;
      font-size: 35px;
      color: #4d4d4d;
      box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    }
  